.login{
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #FFFFFF;
    display: flex;;
}

.login  .login-form{
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 450px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}

